@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

:root {
	--mtext: #000000;
	--btn-primary: #383838;
	--btn-secondary: #878CFF;
	--headtext: #1E1E1E;
	--text: #777777;
	--text-2: #21243D;
	--white: #ffffff;
	--s-word: #878CFF;
	font-size: 62.5%;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: 'Poppins', sans-serif;
}

h1 {
	font-size: 4.6rem;
	color: var(--text-2);
}

h2 {
	font-size: 4rem;
	color: var(--headtext);
}

a {
	font-size: 2.2rem;
	color: var(--btn-primary);
	font-weight: 510;
}

p {
	font-size: 2rem;
	color: var(--text);
	font-weight: 400;
}

.container {
	max-width: 1150px;
	margin: 0 auto;
}

/* HEADER STYLE */

/* top-part style */
.content-1 {
	padding-top: 5rem;
	padding-bottom: 10rem;
}

.header .content-1 .nav {
	display: flex;
	justify-content: space-between;
	padding: 2rem 0;
}

.header .content-1 .nav .menu {
	display: flex;
	align-items: center;
	gap: 2rem;
}

.header .content-1 .nav .bar {
	display: flex;
	align-items: center;
}

.header .content-1 .nav .bar .three-line {
	display: none;
}

.btn {
	display: inline-block;
	padding: 1rem 3rem;
}

.btn-primary {
	background: var(--btn-primary);
	color: var(--white);
	border-radius: 0.5rem;
	outline: none;
	border: 0.6px solid var(--btn-primary);
	margin-bottom: 1rem;
}

/* down-part style */
.header .content-1 .heropart {
	margin-top: 15rem;
	text-align: center;
}

.header .content-1 .heropart img {
	transition: all 0.6s ease;
}

.header .content-1 .heropart img:hover {
	transform: scale(1.3);
	opacity: 0.9;
}

.header .content-1 .heropart h1 {
	margin-top: 3.3rem;
}

.single-word {
	color: var(--s-word);
}

.header .content-1 .heropart p {
	margin-top: 4rem;
}

.btn-secondary {
	background: var(--btn-secondary);
	color: var(--white);
	border-radius: 0.5rem;
	outline: none;
	border: 0.6px solid var(--btn-secondary);
	margin-top: 4rem;
}

/*STYLE FOR SECTION-1 */
.section-1 {
	background-color: #FCFCFC;
}

.section-1 .content-2 {
	display: flex;
	align-items: center;
	padding: 0 5rem;
	gap: 9rem;
	padding-top: 12rem;
	padding-bottom: 10rem;
}

.section-1 .content-2 .rightside p {
	font-size: 1.8rem;
	margin-top: 2.5rem;
	line-height: 3rem;
	text-align: justify;
	font-weight: 500;
}

.section-1 .content-2 .rightside a {
	margin-top: 2.5rem;
}

.section-1 .content-2 .leftside {
	padding: 0 3rem;
}

.section-1 .content-2 .leftside img {
	transition: all 0.5s linear;
}

.section-1 .content-2 .leftside img:hover {
	transform: translateY(-40px);
	transform: scale(1.1);
}

/* STYLE FOR SECTION-2 */

.section-2 .content-3 {
	padding-top: 10rem;
	padding-bottom: 10rem;
}

.section-2 .content-3 .second-heading {
	text-align: center;
}

.section-2 .content-3 .my-works {
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;
	margin-top: 6rem;
}

.section-2 .content-3 .my-works img {
	width: 35rem;
	border-radius: 5px;
	border: none;
	box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

.section-2 .content-3 .my-works .work img {
	transition: all 0.5s linear;
}

.section-2 .content-3 .my-works .work:hover img {
	transform: scale(1.1);
}

.section-2 .content-3 .my-works .work p {
	letter-spacing: 0.05rem;
	font-size: 2rem;
	color: #21243D;
	font-weight: 200;
	margin-top: 2rem;
}

.workbtn {
	display: inline-block;
	margin-top: 3rem;
	text-decoration: underline;
	color: var(--btn-secondary);
	font-size: 1.8rem;
	margin-bottom: 1.5rem;
}

/* STYLE FOR SECTION-3 */

.section-3 .content-4 {
	padding-top: 8rem;
	padding-bottom: 16rem;
}

.section-3 .content-4 .third-heading {
	margin-bottom: 5.5rem;
}

.section-3 .content-4 .down-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 4rem;
}

.section-3 .content-4 .down-content .box {
	padding: 4.2rem 3rem;
	border: 1px solid #FFE2E2E2;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.section-3 .content-4 .down-content .box .topline {
	font-size: 1.8rem;
	font-weight: 700;
	color: var(--text);
}

.section-3 .content-4 .down-content .box {
	transition: all 0.6s linear;
}

.section-3 .content-4 .down-content .box:hover {
	transform: scale(1.07);
	background-color: var(--headtext);
	border-radius: 2.5rem;
	border: none;
}

.section-3 .content-4 .down-content .box:hover h3 {
	color: var(--s-word);
}

.section-3 .content-4 .down-content .box h3 {
	font-size: 2.6rem;
	color: var(--text-2);
	margin-top: 1rem;
}

.section-3 .content-4 .down-content .box p {
	font-size: 1.8rem;
	margin-top: 2rem;
	text-align: justify;
}

/* STYLE FOR FOOTER */
.footer {
	background-color: var(--headtext);
}

.footer .content-5 {
	padding: 5.5rem 0;
}

.footer .content-5 .icons {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2.5rem;
}

.footer .content-5 .icons .icon {
	transition: all 1s ease;
}

.footer .content-5 .icons .icon:hover {
	transform: rotateY(-360deg);
}

.footer .content-5 .icons .style {
	color: var(--white);
	font-size: 4.5rem;
}

.footer .content-5 p {
	text-align: center;
	font-size: 1.8rem;
	margin-top: 2rem;
	color: var(--white);
}